html {
  --color-blue: #1e5bc6;
  --color-blue-a: rgba(30, 91, 198, 0.3);
  --color-orange: #ec8643;
}

.navbar-custom {
  min-height: 60px;
}

.navbar-custom a.active {
  padding-bottom: 3px;
  border-bottom: 4px solid var(--color-orange);
}

footer {
  height: 250px;
  color: white;
}

.items-footer {
  list-style: none;
  text-decoration: underline;
}

.card:hover {
  box-shadow: 0px 0px 0px 3px var(--color-blue-a);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: black;
}

.link {
  color: var(--color-blue);
}

.link:hover {
  font-weight: bold;
  color: var(--color-orange);
}
