html {
  --blue: #1e5bc6;
  --blue-a: rgba(30, 91, 198, 0.3);
  --orange: #ec8643;
}

.navbar-custom {
  min-height: 60px;
}

.navbar-custom a.active {
  padding-bottom: 3px;
  border-bottom: 4px solid var(--orange);
}

footer {
  height: 250px;
  color: white;
}

.items-footer {
  list-style: none;
  text-decoration: underline;
}

.card:hover {
  box-shadow: 0px 0px 0px 3px var(--blue-a);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: black;
}

.link {
  color: var(--blue);
}

.link:hover {
  font-weight: bold;
  color: var(--orange);
}

.stars {
  display: inline-block;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.bi-star,
.bi-star-fill {
  color: var(--blue);
}

.card-img-top {
  height: 190px;
  width: 100%;
}

#btn-add-cart {
  background-color: var(--blue);
  width: 100%;
  margin-top: 70px;
}

th:last-child {
  text-align: right;
}

.btn-action {
  width: 60px;
}

.container-product > div > div {
  height: 75%;
  margin: auto;
}

.carousel-inner {
  border-radius: 10px;
}

.side-button-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bi-cart2 {
  color: aliceblue;
  font-size: 25px;
}

.offcanvas-header {
  border-bottom: 1px solid lightgray;
}

#minicart-items {
  width: 100%;
  height: 60%;
  overflow: hidden auto;
}

.minicart-item {
  display: flex;
  flex-direction: row;
  height: 140px;
  width: 90%;
  border-bottom: 1px solid lightgray;
  padding: 15px;
}

.minicart-item img {
  width: 55px;
  height: 55px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-right: 30px;
}

.minicart-item span {
  width: calc(100% - 85px);
  height: 100%;
}

.minicart-item h5 {
  width: 80%;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
}

#minus-plus {
  width: 90px;
  height: 30px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

#minus-plus button {
  width: 40px;
  height: 30px;
  border: 0;
}

.minicart-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: calc(100% - 1rem);
  height: 200px;
}

.minicart-footer p {
  margin-top: 10px;
}

.minicart-footer button {
  height: 50px;
  width: 100%;
  border-radius: 8px;
}

.minicart-footer button:last-child {
  color: white;
  background-color: var(--blue);
}

@media screen and (max-width: 575px) {
  #btn-add-cart {
    margin: 5%;
  }

  .container-product > div > div {
    height: 50%;
    padding: 0;
    margin: 0;
  }

  .carousel-inner {
    border-radius: 0;
  }
}
